<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CustomerManagement.Properties.Settings.CustomersConnectionString" 
         connectionString="Data Source=ho-sql01\Dev;Initial Catalog=VirtualCurrency_CustMgmt_Dev;Integrated Security=True"/>
  </connectionStrings>
</configuration>